@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.list {
  font-family: "Poppins", sans-serif;
  width: 70%;
  background: white;
  height: 80vh;
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  border-radius: 5px;
  overflow-y: scroll;
}

.list li {
  margin: 10px 0;
}
